<!-- <div class=“wrapper”>
  <div class="clr-row">
    <div class="clr-col-12" style="text-align: center;"><img style="width:45%" src="./assets/th_flag.png" alt="">
    </div>
    <div class="clr-col-12" style="text-align: center;"><br></div>
    <div class="clr-col-12" style="text-align: center;"><img style="width:45%" src="./assets/us_flag.png" alt=""></div>
    <div class="clr-col-12" style="text-align: center;"><img style="width:45%" src="./assets/myanmar_flag.png" alt="">
    </div>
  </div>
</div> -->
<div class="block ">
  <div class="detail" style="text-align: center ;">
    <h4>Languae</h4>
  </div>
  <div class="detail" ><img style="width:100%" (click)="onClick('TH')" src="./assets/th_flag.png" alt=""></div>
  <div class="detail" ><img style="width:100%" (click)="onClick('EN')" src="./assets/us_flag.png" alt=""></div>
  <div class="detail" ><img style="width:100%"(click)="onClick('MM')"  src="./assets/myanmar_flag.png" alt=""> </div>
  </div>
